<!DOCTYPE html>
<html>
<head>
  <title>Facebook Login With Image Upload</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <div class="masthead">
      <ul class="nav nav-pills pull-right">
        <li class="<%= markActive(root_path)%>" ><%= link_to "Home", root_path %></li>
        
                
        <% if current_user %>
          <li class="<%= markActive(permalink_path(current_user.id))%>" ><%= link_to "Permalink", permalink_path(current_user.id) %></li>
          <li><img src="http://graph.facebook.com/<%= current_user.uid %>/picture?width=30&height=30"  ></strong></li>
          <li><%= link_to "Sair", signout_path, id: "sign_out" %></li>
        <% else %>
          <li><%= link_to "Acessar", "/auth/facebook", :class => "sign_in" %></li>
        <% end %>
        
      </ul>
      <h3 class="muted">Nome do Projeto</h3>
    </div>

    <hr>

    <div class="row-fluid">

      <div class="span12">
        <%= yield %>
        
      </div>
    </div>
  </div>
</body>
</html>
